**/*$RECYCLE.BIN*
**/*$Recycle.Bin*
**/*.*proj.user*
**/*.AppleDB*
**/*.AppleDesktop*
**/*.AppleDouble*
**/*.BAT
**/*.CMD
**/*.COM
**/*.DS_Store*
**/*.DocumentRevisions-V100*
**/*.DotSettings*
**/*.LSOverride*
**/*.SH
**/*.Spotlight-V100*
**/*.TemporaryItems*
**/*.Trashes*
**/*.VolumeIcon.icns*
**/*.ZSH
**/*._*
**/*.apdisk*
**/*.bak
**/*.bat
**/*.cache*
**/*.cmd
**/*.com
**/*.com.apple.timemachine.donotpresent*
**/*.dbmdl
**/*.dockerignore*
**/*.editorconfig*
**/*.eslintcache*
**/*.fseventsd*
**/*.git*
**/*.git*
**/*.gitattributes*
**/*.gitignore*
**/*.hg*
**/*.history*
**/*.idea*
**/*.jfm
**/*.lnk
**/*.log
**/*.node_repl_history*
**/*.npm*
**/*.old
**/*.orig
**/*.parcel-cache*
**/*.pnp*
**/*.pnp.*
**/*.pnpm*-*debug*
**/*.prettier*
**/*.project*
**/*.settings*
**/*.sh
**/*.stackdump*
**/*.stylelintcache*
**/*.svn*
**/*.temp*
**/*.toolstarget*
**/*.tsbuildinfo*
**/*.tslint*
**/*.vs*
**/*.vscode*
**/*.vshistory*
**/*.yarn-integrity*
**/*.yarn/build-state*
**/*.yarn/cache*
**/*.yarn/install-state*
**/*.yarn/unplugged*
**/*.zsh
**/*Dockerfile*
**/*Network Trash Folder*
**/*README.md*
**/*Temporary Items*
**/*Thumbs*.db*
**/*[Dd]esktop.ini*
**/*azds.*
**/*docker*-*compose*
**/*git*
**/*jspm_packages*
**/*lerna*
**/*lerna*-*debug*
**/*node_modules*
**/*npm*
**/*npm*-*debug*
**/*secrets.dev.*
**/*svn*
**/*thumbs*.*db*
**/*values.dev.*
**/*web_modules*
**/*yarn*-*debug*
**/*yarn*-*error*
**/bin
**/build
**/charts
**/coverage
**/obj
