**/$RECYCLE.BIN
**/$[Rr]ecycle.[Bb]in
**/*.*proj.user
**/*.BAT
**/*.CMD
**/*.COM
**/*.DotSettings
**/*.DotSettings.*
**/*.DotSettings.user
**/*.SH
**/*.ZSH
**/*.bak
**/*.bat
**/*.cache*
**/*.cmd
**/*.com
**/*.dbmdl
**/*.hg
**/*.jfm
**/*.jwk
**/*.jwt
**/*.lcov
**/*.lnk
**/*.log
**/*.logs
**/*.old
**/*.orig
**/*.pid
**/*.pid.*
**/*.pid.lock
**/*.rdb
**/*.seed
**/*.sh
**/*.stackdump
**/*.temp*
**/*.tgz
**/*.tsbuildinfo
**/*.zsh
**/*Dockerfile*
**/*LICENSE*
**/*Network*Trash*Folder*
**/*README*
**/*README.md
**/*Temporary*Items*
**/*Thumbs*.db*
**/*Trash*Folder*
**/*docker*-*compose*
**/*docker*-*compose*.*
**/*docker*-*compose*.*.yml
**/*docker*-*compose*.yml
**/*secrets*.*dev.*
**/*thumbs*.db*
**/*values*.*dev.*
**/.AppleDB
**/.AppleDesktop
**/.AppleDouble
**/.DS_Store
**/.DocumentRevisions-V100
**/.LSOverride
**/.Spotlight-V100
**/.TemporaryItems
**/.Trash
**/.Trashes
**/.VolumeIcon.icns
**/._*
**/.apdisk
**/.classpath
**/.com.apple.timemachine.donotpresent
**/.dockerignore
**/.docusaurus
**/.dynamodb
**/.editorconfig
**/.env.*.local
**/.env.local
**/.eslintcache
**/.fseventsd
**/.fusebox
**/.git
**/.gitattributes
**/.gitignore
**/.grunt
**/.hg
**/.hgignore
**/.hgsigs
**/.hgtags
**/.history
**/.idea
**/.lock-wscript
**/.next
**/.node_repl_history
**/.npm
**/.nuxt
**/.nyc_output
**/.parcel-cache
**/.pnp.*
**/.pnp.cjs
**/.pnp.loader.mjs
**/.pnpm-debug*.log*
**/.pnpm-error*.log*
**/.prettier*
**/.project
**/.serverless
**/.settings
**/.stylelintcache
**/.svn
**/.tern-port
**/.toolstarget
**/.tslintcache
**/.vs
**/.vs-debug
**/.vs-test
**/.vscode
**/.vscode-debug
**/.vscode-test
**/.vshistory
**/.yarn*
**/.yarn-integrity
**/.yarn/build-state*
**/.yarn/build-state.yml
**/.yarn/cache*
**/.yarn/install-state*
**/.yarn/install-state.gz
**/.yarn/unplugged*
**/.yarnrc.*
**/.yarnrc.yml
**/[Dd]esktop.ini
**/azds.*
**/azds.yaml
**/bin
**/bower_components
**/build
**/charts
**/coverage
**/git
**/jspm_packages
**/lerna-debug*.log*
**/lerna-error*.log*
**/lib-cov
**/log
**/logs
**/node_modules
**/npm
**/npm-debug*.log*
**/npm-error*.log*
**/obj
**/out
**/pids
**/pnpm-debug*.log*
**/pnpm-error*.log*
**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
**/svn
**/web_modules
**/yarn-debug*.log*
**/yarn-error*.log*
